<!doctype html>
<html xmlns:th="http://www.thymmeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link th:href="@{/css/register.css}" rel="stylesheet">
    <title>글 상세</title>
    <style>
        .container {

        }
        .table td {
            border:1px solid;
        }
        .table th {
            border:1px solid;
        }
        .form-detail {
            background-color:transparent;
            border:none;
        }
        .form-text {
            width:100%;
            border:none;
            min-height:10rem;
        }
    </style>
</head>

<body>
<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4 " src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <!--<h2>게시판</h2>-->
</div>
<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row"><strong class="t-15">제목</strong></th>
                <td colspan="5"><span id="boardSubject" name="boardSubject" class="form-detail" th:text="${board.title}" readonly></span></td>
            </tr>
            <tr>
                <th scope="row"><strong class="t-15">작성자</strong></th>
                <td><span type="text" id="writer" name="writer" class="form-detail" th:text="${board.name}" readonly></span></td>
                <th scope="row"><strong class="t-15">작성일</strong></th>
                <td><span type="text" id="datetime" name="datetime" class="form-detail" value="10" th:text="${board.datetime}" readonly></span></td>
                <th scope="row"><strong class="t-15">조회수</strong></th>
                <td><span type="text" id="viewCnt" name="viewCnt" class="form-detail" value="10" th:text="${board.viewCnt}" readonly></span></td>
            </tr>
            <tr>
                <th scope="row" colspan="6"><strong class="t-15">내용</strong></th>
            </tr>
            <tr>
                <th scope="row" colspan="6"><textarea type="text" id="contents" name="contents" class="form-text" th:text="${board.contents}" readonly></textarea></th>
            </tr>
        </tbody>
    </table>

    <div class="text-right">
        <button class="btn btn-primary" th:onclick="|location.href='@{/board/{user_idx}/edit(user_idx=${board.user_idx})}'|"
                th:if="${#authentication.name == board.name}">수정</button>
        <button class="btn btn-primary" th:onclick="|location.href='@{/board/{user_idx}/delete(user_idx=${board.user_idx})}'|"
                th:if="${#authentication.name == board.name}">삭제</button>
        <button class="btn btn-secondary" th:onclick="|location.href='@{/board/boards}'|">목록</button>
    </div>
</div> <!-- /container -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="form-validation.js"></script>
<footer th:replace="fragments/common :: footer"/>
</body>
</html>