<!doctype html>
<html xmlns:th="http://www.thymmeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link th:href="@{/css/register.css}" rel="stylesheet">
    <title>글 상세</title>
    <style>
        .container {

        }
        .table td {
            border:1px solid;
        }
        .table th {
            border:1px solid;
        }
        .form-detail {
            background-color:transparent;
            border:none;
        }
        .form-text {
            width:100%;
            border:none;
            min-height:10rem;
        }
    </style>
</head>

<body>
<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4 " src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <!--<h2>게시판</h2>-->
</div>
<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row"><strong class="t-15">제목</strong></th>
                <td colspan="5"><span id="boardSubject" name="boardSubject" class="form-detail" th:text="${board.title}" readonly></span></td>
            </tr>
            <tr>
                <th scope="row"><strong class="t-15">작성자</strong></th>
                <td><span type="text" id="writer" name="writer" class="form-detail" th:text="${board.name}" readonly></span></td>
                <th scope="row"><strong class="t-15">작성일</strong></th>
                <td><span type="text" id="datetime" name="datetime" class="form-detail" value="10" th:text="${board.datetime}" readonly></span></td>
                <th scope="row"><strong class="t-15">조회수</strong></th>
                <td><span type="text" id="viewCnt" name="viewCnt" class="form-detail" value="10" th:text="${board.viewCnt}" readonly></span></td>
            </tr>
            <tr>
                <th scope="row" colspan="6"><strong class="t-15">내용</strong></th>
            </tr>
            <tr>
                <th scope="row" colspan="6"><textarea type="text" id="contents" name="contents" class="form-text" th:text="${board.contents}" readonly></textarea></th>
            </tr>
        </tbody>
    </table>

    <div class="text-right">
        <button class="btn btn-primary" th:onclick="|location.href='@{/board/{user_idx}/edit(user_idx=${board.user_idx})}'|"
                th:if="${#authentication.name == board.name}">수정</button>
        <button class="btn btn-primary" th:onclick="|location.href='@{/board/{user_idx}/delete(user_idx=${board.user_idx})}'|"
                th:if="${#authentication.name == board.name}">삭제</button>
        <button class="btn btn-secondary" th:onclick="|location.href='@{/board/boards}'|">목록</button>
    </div>
</div> <!-- /container -->

<div class="container">
    <h4>댓글</h4>
    <div id="comment">
    </div>

    <form action="#" th:action="@{/board/comment/write}" method="post">
        <input type="hidden" name="boardId" th:value="${board.user_idx}">
        <div class="mb-3">
            <label for="content" class="form-label"></label>
            <textarea class="form-control" id="content" name="content" rows="4"
                      placeholder="댓글을 작성해주세요."></textarea>
        </div>
        <button type="submit" class="me-2 btn btn-primary">write</button>
    </form>
</div>

<footer th:replace="fragments/common :: footer"/>
<script th:inline="javascript">
        $(document).ready(function () {
            getComments();
        })

        function getComments() {
            var boardId = $('input[name=boardId]').val()
            console.log(boardId);

            $.ajax({
                type: 'GET',
                url: '/board/comment/getCommentList',
                data: { boardId },
                success: function (response) {
                    console.log(boardId);
                    var a = '';
                    var size = 0;
                    $.each(response, function (key, value) {
                    console.log(value);
                        size = size + 1;
                        a += '<hr /><div>'
                        a += '<input type="hidden" id="commentId" name="commentId" value="' + value.CREATORID + '">'
                        a += '<span id="writer" style="font-weight: bold;">' + value.creatorID + '</span>'
                        a += '<pre id="' + value.creatorID + '" name="comment' + value.creatorID + '" style="margin-bottom: 5px; font-size: large;">' + value.commentContent + '</pre>'

                    });
                    $("#comment").html(a)
                },
                complete: function () { }
            })
        }
        </script>
</body>
</html>